*{
	margin: 0;
	padding: 0;
}
img{
	width: 20%;
	height: 100%;
	margin-left: 5%;
}
.head{
	width: 400px;
	height: 80px;
	background-color: rgb(62, 62, 187);
	position: relative;
}
h3{
	position: absolute;
	bottom: 25px;
	left: 30%;
	color: aliceblue;
}
div{
	margin-left: 35%;
	margin-top: 10%;
}
